# Compiled source #
###################
*.dcu
*.obj
*.exe
*.rsm
*.stat
*.map

# Backup files    #
###################
*.~*

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc

# Output Folders  #
###################
/Win32
/Win64
/__history


# Testing Output  #
###################
Tests/dunit-report.xml