# Compiled source #
###################
*.dcu
*.obj
*.exe
*.rsm
*.stat
*.map

# Backup files    #
###################
*.~*

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc

# Output Folders  #
###################
/Win32
/Win64
/__history
/Tests/Win32
/Tests/Win64
/Test/__history



# Testing Output  #
###################
Tests/dunit-report.xml
*.fb7lck
*.fbl7
*.fbpInf
Examples/Win32/
Examples/Win64/
